body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

nav {
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    background-color: white;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    z-index: 3;
}

#dropdown1 li a {
    color: lightslategray;
}

.dropdown-content {
    position: absolute;
    top: -64px;
}

.dropdown-trigger {
    display: flex;
    align-items: center;
}

nav object {
    vertical-align: middle;
    align-self: center;
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
}

#logo {
    padding: 0;
}

nav ul li {
    vertical-align: middle;
}

nav ul li a {
    color: lightslategray;
}

nav ul li a:hover {
    background-color: #fadad1;
}

.active {
    background-color: none;
}

.wrapper {
    width: 98vw;
    margin: 0 auto;
}

.sample_boxes {
    display: flex;
    justify-content: space-evenly;
}

.sample_boxes object {
    width: 28vw;
}

.boxy_info {
    height: 13vh;
}

.about {
    height: 8vh;
    width: 40vw;
    margin: 30px auto;
    text-align: center;
    margin-bottom: 4rem;
}

.about_heading {
    text-transform: uppercase;
    font-size: 3rem;
    color: rgb(226, 148, 117);
    text-shadow: .5px .5px 3px rgb(59, 59, 59);
    position: relative;
    z-index: 2;
    text-align: center;
    font-weight: 400;
    letter-spacing: .5rem;
}

.heading_color {
    text-align: center;
    width: 80%;
    height: 1.2rem;
    background-color: rgba(248, 232, 203, 0.8);
    position: absolute;
    top: 2.7rem;
    left: 4rem;
    z-index: -1;
}

.order_btn {
    margin-top: 4rem;
    text-align: center;
}

.order_btn a {
    font-size: 1.5rem;
}